@font-face {
	font-family: 'Vazir';
	src: url('./assets/fonts/Vazir.ttf') format('ttf');
	src: url('./assets/fonts/Vazir.woff2') format('woff2');
	src: url('./assets/fonts/Vazir.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
	direction: rtl;
	font-family: 'Vazir', sans-serif !important;
	margin: 0;
}

.App {
	text-align: center;
	padding: 16px;
	background-color: #eee;
}